.form-infuenceur{
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    z-index: 20;
    transform: translateX(93%);
    transition: all .5s ease-out;
    display: flex;
    overflow-y: auto;
}

.form-infuenceur:hover{
    transform: translateX(0);
}

.call_to_action{
    width: 3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call_to_action svg{
    margin: 20px 0;
}

.influenceur-layout{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.influenceur-layout form{
    width:50%;
}

.close-inf{
    display: none;
}

@media screen and (max-width : 768px) {
    .form-infuenceur{
        width: 100%;
        transform: translateX(95%);
    }

    .influenceur-layout{
        flex-direction: column;
    }

    .influenceur-layout form{
        width:100%;
    }


    
.close-inf{
    display: flex;
    justify-content: right;
    align-items: center;
}
}