@import url('../../Root.css');

.header{
    background-color: #310908b3;
    left: 0;
    right: 0;
    /* filter: blur(5px); */
    backdrop-filter: blur(5px);
    z-index: 10;
}

.header-link{
    color: #fff;
    /* font-family: "Termina Medium"; */
    text-decoration: none;
    font-weight: lighter;
    font-size: 12px;
}
.header-link:hover{
    color: var(--pink);
    
}

.header-link.light{
    color: var(--black);
}

.header-link.light.img{
    filter: invert(1);
} 

.header-link.light:hover{
    color: var(--pink);
}



.header-dropdown-link{
    position: absolute;
    background-color: var(--white);
   opacity: 0;
   top: 35px;
   left: -30px;
   width: max-content;
   pointer-events: none;
   transition: all 0.2s ease-out;
   overflow: hidden;
}

.dropdown:hover > .header-dropdown-link{
    opacity: 1;
    top: 15px;
    border: 1px grey solid;
    border-radius: 10px;
   pointer-events: all;
}
.header-dropdown-link > .link{
    color: var(--black);
    text-decoration: none;
    padding: 5px;
    text-align: center;
    display: block;
    cursor: pointer;
}

.header-dropdown-link > .link:hover{
    background-color: var(--pink);
}

.mobile-only {
    display: none ;
}

.ul-link li{
    list-style: none;
    text-align: center;
    padding: 5px 0;
}

.mobile-only-block{
    display: none;
}


@media screen and (max-width : 768px) {
    .desktop-only {
        display: none !important;
    }

    
.mobile-only {
    display: flex ;
    justify-content: center;
    align-items: center;
}


.mobile-only-block{
    display: block;
}

}