.footer{
    background-color: #262626;
    color: #fff;
    /* bottom: 0;
    position: relative; */
}



.footer-link{
    color : #F27289;
}

.footer-link:hover{
    color : #94c9ff;
}

@media screen and (max-width : 425px) {
    .footer-col{
        height: fit-content;
    }
    
    .footer-col >h5{
        margin-bottom: 0px;
    }
    
}