@import url('Root.css');
@import url('./Partials/Bouton/Bouton.css');
@import url('./Partials/Card/Card.css');
@import url('./Partials/ImageGrid/ImageGrid.css');
@import url('./Partials/ScrollToTopButton/ScrollToTopButton.css');
@import url('./Section/Action/Action.css');
@import url('./Section/Bienvenu/Bienvenu.css');
@import url('./Section/Contact/Contact.cs');
@import url('./Section/DevenirInfluenceur/DevenirInfluenceur.css');
@import url('./Section/Footer/Footer.css');
@import url('./Section/Header/Header.css');
@import url('./Section/Hero/Hero.css');
@import url('./Section/Influenceur/Influenceur.css');
@import url('./Section/Project/Project.css');
@import url('./Section/RealisationSection/RealisationSection.css');
@import url('./Section/SavoirPlus/SavoirPlus.css');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.bit-h1{
  font-family: 'Turbinado Pro Bold';
  font-weight: bold;
  font-size: 70px;
}
.bit-h1-small{
  font-family: 'Turbinado Pro Bold';
  font-weight: bold;
  font-size: 50px;
}

.bit-h2{
  font-family: 'Turbinado Pro Bold';
  font-weight: bold;
  font-size: 35px;
}

.bit-st{
  color:var(--pink);
  font-size: 15px;
  font-family: 'Pano';
  font-weight: bold;
}

@media screen and (max-width : 768px) {
  .bit-h1{
    font-size: 50px;
  }
  
  .bit-h2{
    font-size: 30px;
  }
  
  .bit-st{
    font-size: 18px;
  }
}

/* carousel */
.slick-slide{
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.slick-dots li.slick-active button:before{
color: #F27289 !important;
}
.slick-dots li:hover button:before{
  color: #F27289 !important;
  opacity: .7 !important;
 }

.slick-dots li button:before{
 font-size: 15px !important;
}

body {
  overflow-x: hidden;
}

#root{
  position: relative;
}