:root{
    --red : #F13D3C;
    --red_bordeau : #8B2322;
    --white : #F2F2F2;
    --black : #262626;
    --pink : #F27289;
 
  }

  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
  
  /* add font */
  @font-face {
    font-family: 'Termina Regular';
    src: url(./Assets/Fonts/Fontspring-DEMO-termina-regular.otf);
  }
  
  @font-face {
    font-family: 'Termina Medium';
    src: url(./Assets/Fonts/Fontspring-DEMO-termina-medium.otf);
  }
  
  @font-face {
    font-family: 'Termina Semibold';
    src: url(./Assets/Fonts/Fontspring-DEMO-termina-demi.otf);
  }
  
  @font-face {
    font-family: 'Termina Bold';
    src: url(./Assets/Fonts/Termina-W05-Bold.ttf);
  }
  
  @font-face {
    font-family: 'Turbinado Pro Bold';
    src: url(./Assets/Fonts/FontsFree-Net-turbinado-bold.ttf);
  }

  @font-face {
    font-family: 'Pano Bold';
    src: url(./Assets/Fonts/Pano/Pano\ Bold.otf);
  }
  @font-face {
    font-family: 'Pano Light';
    src: url(./Assets/Fonts/Pano/Pano\ Light.otf);
  }
  @font-face {
    font-family: 'Pano';
    src: url(./Assets/Fonts/Pano/Pano\ Regular.otf);
  }
  @font-face {
    font-family: 'Matrice';
    src: url(./Assets/Fonts/Matrice-Regular.ttf);
  }

  
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
  *{
    font-family: 'Matrice';
  }

  .roboto{
    font-family: 'Roboto';
  }

  .roboto-bold{
    font-family: 'Roboto';
    font-weight: 500;
  }

  .roboto-thin{
    font-family: 'Roboto';
    font-weight: 100;
  }