.Hero{
    height: 100vh;
    background-size: 100%;
    background-position: 0 30%;
    background-repeat: no-repeat;
}

.Hero > button {
    margin-bottom: 27px;
}

@media screen and (max-width : 768px) {
    .Hero{
        height: 90vh;
        background-size: cover;
        background-position: 50% 100%;
        background-repeat: no-repeat;
    }
}